span {
    color: rgb(77, 199, 240);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 63px;
    padding-left: 98px;
    line-height: 93.75px;
    font-size: 80px;
}

.main_menu {
    border-collapse: collapse;
    border: 1px solid black;
    width: 1283px;
    margin-top: 38px;
    text-align: center;
    margin: 0 auto;
    background-color: #35444F;
}

.ramda {
    border-collapse: collapse;
    border: 1px solid white;
}

.ramda:hover {
    border-collapse: collapse;
    border: 1px solid white;
    background-color: #222F3A;
}

td {
    border: 1px solid white;
    padding-top: 26px;
    padding-bottom: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    color: white;
    line-height: 28,13px;
    font-size: 24px;
}

.left_menu {
    border: 1px solid grey;
    width: 334px;
    font-size: 27px;
    float: left;
}

.text {
    margin-left: 44px;
}

.left_menu_ramda:hover {
    text-indent: 20px;
    background-color: #DBDBDB;
}

.image {
    border: 1px solid grey;
    width: 885px;
    height: 529px;
    padding-top: 124px;
    float: right;
    text-align: center;
    
}

.container {
    width: 1283px;
    height: 670px;
    padding-top: 48px;
    margin: 0 auto;
    
}

.lorem {
    padding-top: 37px;
    line-height: 24px;
    width: 885px;
    font-size: 18px;
    float: right;
    padding-right: 70px;
    color: #2C2C2C;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: #63696E;
    width: 1283px;
    margin: 0 auto;
}

.footer_td {
    border-collapse: collapse;
    border: 1px solid #63696E;
}

.copyright {
    border-collapse: collapse;
    border: 1px solid #63696E;
    text-align: right;
}

.why_ramda {
    border-collapse: collapse;
    border: 1px solid #63696E;
}

.why_ramda:hover {
    border-collapse: collapse;
    border: 1px solid #63696E;
    color: lightblue;
    text-decoration: underline;
}

.left_menu_item {
    height: 81px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10%;
    padding-left: 30px;
    color: #485863;
}

.lwr:hover {
    padding-left: 50px;
    color: black;
    background-color: lightgrey;
}