body {
    
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background_image {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url(background\ 1.png);
}

.content {
    width: 1030px;
    height: 638px;
    margin: 0 auto;
    padding-top: 51px;
}

.top_menu {
    justify-content: space-between;
    width: 1028px;
    height: 61px;
    display: flex;
}

.top_menu_logo {
    display: flex;
    margin-top: 5px;
    width: 180px;
    height: 51px;
}

.top_menu_logo_image:hover {
    content: url(img/logo2.png);
}

.top_menu_logo_image {
    width: 53px;
    height: 47px;
    align-self: center;
}

.top_menu_logo_text {
    align-self: center;
    height: 58px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top_menu_logo_text:hover {
    color: #F26522;
}

.Milan {
    line-height: 32px;
    font-size: 29px;
    text-decoration: none;
    color: white;
}

.Milan:hover {
    color: #F26522;
}

.holidays {
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.holidays:hover {
    
    color: #F26522;
}

.top_menu_info {
    width: 220px;
    align-self: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top_menu_info_text {
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    float: right;
}

.top_menu_info_text:hover {
    color: #F26522;
}

.main_content {
    margin-top: 17px;
}

.cards1and3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cards4and6 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.main_content_text {
    line-height: 18px;
    font-size: 18px;
    margin-top: 20px;
    font-family:-apple-system, BlinkMacSystemFont, ';Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    display: block;
}

.card1_text {
    line-height: 18px;
    font-size: 18px;
    margin-top: 20px;
    display: block;
    font-family:-apple-system, BlinkMacSystemFont, ';Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

.footer {
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    margin-top: 49px;
    font-family:-apple-system, BlinkMacSystemFont, ';Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.card1 {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.card2_text {
    line-height: 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    display: block;
}

.card3_text {
    line-height: 18px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

.card1:hover .card1-hover {
    bottom: 44px;
    background-color: #F26522;
    color: white;
}

.card1:hover .card1-view-details {
    color: white;
}

.card1-hover {
    position: absolute;
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    bottom: 0;
    left: 2px;
    transition: all 0.5s;
    color: transparent;
}

.card1_text:hover {
    color: #F26522;
}

.hover-text-block {
    margin-left: 16px;
    text-align: left;
}

.card1-hover-text-from {
    line-height: 6px;
    font-size: 10px;
}

.card1-hover-text {
    line-height: 10px;
    font-size: 20px;
}

.card1-view-details {
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 37px;
    transition: all 0.5s;
    color: transparent;
    display: flex;
}

.card1-view-details::after {
    content: url(img/Vector\ 1.png);
    margin-left: 16px;
    visibility: hidden;
    transition: all 0.5s;
    display: flex;
}

.card1:hover .card1-view-details::after {
    visibility: visible;
}

.card2_text {
    line-height: 20px;
    font-size: 18px;
    margin-top: 10px;
    font-family:-apple-system, BlinkMacSystemFont, ';Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}