body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(img/Layer\ 1\ 5.png);
}

.top_menu {
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.top_menu_elements {
    width: 1160px;
    height: 120px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.top_menu_logo {
    display: flex;
    width: 233px;
    height: 120px;
    justify-content: center;
}

.top_menu_logo_text {
    align-self: center;
    line-height: 48px;
    font-size: 32px;
    font-weight: 400;
    margin-left: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.top_menu_logo_image {
    align-self: center;
    width: 58px;
    height: 58px;
}

.menu_text {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.top_menu_logo_span {
    color: #18CFAB;
    font-weight: 700;
}

.top_menu_text {
    line-height: 118px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.6);
}

.top_menu_text:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    
}

.image_text {
    margin-top: 264px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

.top_menu_image_text {
    line-height: 1px;
    font-size: 35px;
    color: white;
}

.top_menu_image_span {
    color: #18CFAB;
}

.top_menu_image_huge_text {
    line-height: 1px;
    font-size: 78px;
    color: white;
}

.top_menu_image_light_text {
    line-height: 1px;
    font-size: 34px;
    font-weight: 200;
    color: white;
}

.top_image_buttons {
    margin-top: 150px;
    text-align: center;
}

.Purchase_now_input {
    margin-left: 26px;
}

.main_content {
    margin-top: 895px;
}

.options {
    width: 100%;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.different_theme_option {
    width: 382px;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C2A33;
}

.different_theme_option_info {
    text-align: center;
}

.option1_text {
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 48px;
    color: #18CFAB;
}

.fully_customizable {
    width: 382px;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #18CFAB;
}

.fully_customizable_info {
    text-align: center;
    margin: 0 auto;
}

.option2_text {
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 58px;
    color: white;
}

.unlimited_support {
    width: 382px;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #1C2A33;   
}

.unlimited_support_info {
    text-align: center;
    margin: 0 auto;
}

.option3_text {
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 48px;
    color: #18CFAB;
}

.responsive_all_devices {
    width: 382px;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #18CFAB;
}

.responsive_all_devices_info {
    text-align: center;
    margin: 0 auto;
}

.option4_text {
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 58px;
    color: white;
}

.our_services {
    margin-top: 83px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.our_services_header {
    line-height: 40px;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #4E4E4E;
}

.line1 {
    width: 79px;
    height: 4px;
    margin: 0 auto;
    margin-top: 24px;
    background-color: #18CFAB;
}

.line2 {
    width: 79px;
    height: 4px;
    margin-top: 4px;
    margin-left: 700px;
    background-color: #18CFAB;
}

.our_services_catagories {
    border-collapse: collapse;
    border: 1px solid #EDEFEF;
    width: 1160px;
    height: 72px;
    margin: 0 auto;
    margin-top: 69px;
    text-align: center;
}

.web_design_space {
    width: 192px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.web_design_space:hover {
    border: 1.5px solid #18CFAB;
}

.table_cell {
    width: 192px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.table_cell:hover {
    border: 1.5px solid #18CFAB;
}

.our_services_catagory_name {
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.our_services_text {
    line-height: 24px;
    font-size: 13px;
    font-weight: 300;
    margin-left: 15px;
    align-self: center;
    color: #777777;
}

.our_services_info {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    align-items: center;
    margin-top: 28px;
}

/* .vision {
    display: flex;
} */

.our_services_image_block {
    display: flex;
    display: none;
    margin-top: 10px;
}

.our_services_image {
    width: 192px;
    height: 139px;
}

.main_content_image {
    margin-top: 91px;
    height: 476px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(img/Layer\ 21\ 1.png);
}

.main_content_image_info {
    padding-top: 126px;
}

.main_content_header {
    line-height: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    color: #18CFAB;
}

.main_content_text {
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #D8D8D8;
}

.main_content_image_button {
    margin-top: 67px;
    text-align: center;
}

.Purchase_now_button {
    width: 168px;
    height: 63px;
    border-radius: 5px;
    line-height: 32px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #18CFAB;
    border: none;
    color: white;
}

.our_amazing_work {
    margin-top: -36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E9EDEF;
}

.our_amazing_work_header {
    line-height: 40px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 96px;
    color: #4E4E4E;
}

.our_amazing_work_line1 {
    width: 79px;
    height: 4px;
    margin: 0 auto;
    background-color: #18CFAB;
}

.our_amazing_work_line2 {
    width: 79px;
    height: 4px;
    margin-top: 4px;
    margin-left: 700px;
    background-color: #18CFAB;
}

.our_amazing_work_catagories {
    width: 582px;
    height: 58px;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 83px;
    text-align: center;
    border: 1px solid #DADADA;
}

.our_amazing_work_all_catagory {
    width: 79px;
}

.our_amazing_work_catagory_cell {
    width: 192px;
    border: 1px solid #DADADA;
}

.active {
    width: 192px;
    border: 1px solid #DADADA;
}

.active:hover {
    border: 5px solid #18CFAB;
}

.our_amazing_work_all_catagory:hover {
    border: 5px solid #18CFAB;
}

.our_amazing_work_catagory_cell:hover {
    border: 5px solid #18CFAB;
}

.our_amazing_work_catagory_name {
    line-height: 42px;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
}

.our_amazing_work_images {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 71px;
}

.our_amazing_work_mockup_image {
    width: 285px;
    height: 211px;
}

/* .grid_images {
    margin-left: 10px;
} */

.visible {
    display: flex;
}

.Load_more {
    width: 168px;
    height: 63px;
    margin: 0 auto;
    margin-top: 70px;
    align-self: center;
    display: flex;
    border: none;
    border-radius: 5px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #18CFAB;
    color: white;
}

.button_image {
    width: 18px;
    height: 19px;
    align-self: center;
    margin-right: 15px;
}

.button_info {
    display: flex;
    margin: 0 auto;
    align-self: center;
}

.breaking_news {
    width: 100%;
    margin-top: 82px;
}

.breaking_news_header {
    line-height: 40px;
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #4E4E4E;
}

.breaking_news_line1 {
    width: 79px;
    height: 4px;
    margin: 0 auto;
    background-color: #18CFAB;
}

.breaking_news_line2 {
    width: 79px;
    height: 4px;
    margin-top: 4px;
    margin-left: 700px;
    background-color: #18CFAB;
}

.breaking_news_images {
    display: grid;
    margin-top: 68px;
    width: 100%;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.breaking_news_cell {
    margin-left: 35px;
}

.breaking_news_cell_1-4 {
    display: flex;
}

.breaking_news_cell_5-8 {
    display: flex;
    margin-top: 44px;
}

.breaking_news_image_date {
    width: 66px;
    height: 65px;
    position: absolute;
    margin-left: 197px;
    background-color: #203E38;
}

.image_date {
    line-height: 15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    color: white;
}

.image_month {
    line-height: 15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: -5px;
    color: white;
}

.image_text_block {
    width: 58px;
    height: 65px;
    text-align: center;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.breaking_news_image_date:hover {
    background-color: #18CFAB;
}

.breaking_news_text_header {
    line-height: 38px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: #717171;
}

.breaking_news_text {
    line-height: 40px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: -30px;
    color: #777777;
}

.client_feedback {
    width: 100%;
    height: 853px;
    margin-top: 128px;
    background-image: url(img/Layer\ 333.png);
}

.client_feedback_header {
    line-height: 40px;
    font-size: 36px;
    font-weight: 400;
    padding-top: 98px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.client_feedback_line1 {
    width: 79px;
    height: 4px;
    margin: 0 auto;
    background-color: #18CFAB;
}

.client_feedback_line2 {
    width: 79px;
    height: 4px;
    margin-top: 4px;
    margin-left: 700px;
    background-color: #18CFAB;
}

.client_feedback_info {
    margin-top: 66px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.client_feedback_quotation_marks {
    width: 47px;
    margin: 0 auto;
}

.client_feedback_text_block {
    margin-top: 36px;
    text-align: center;
}

.client_feedback_text {
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    width: 1160px;
    color: #BBBBBB;
}

.name_of_client {
    line-height: 27px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 37px;
    color: #18CFAB;
}

.job_of_client {
    line-height: 27px;
    font-size: 13px;
    font-weight: 300;
    margin-top: -10px;
    color: #BBBBBB;
}

.client_feedback_main_image {
    margin-top: 50px;
    margin-left: 648px;
    border: 10px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
}

.client_feedback_images {
    width: 100%;
    height: 80px;
    justify-items: center;
    margin: 0 auto;
    margin-top: 47px;
}

.client_feedback_image {
    margin-left: 38px;
    border: 6px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
}

.client_feedback_image3 {
    margin-left: 38px;
    margin-bottom: 11px;
    border: 6px solid rgba(31, 218, 181, .2);
    border-radius: 50%;
}

.slider_item {
    text-align: center;
    width: 100%;
    height: 80px;
}

.slider_previous_button {
    margin-bottom: 18px;
}

.slider_previous_button:hover .rect {
    fill: #18CFAB;
    stroke: #18CFAB;
}

.slider_previous_button:hover .path {
    fill: white;
}

.slider_next_button {
    margin-left: 35px;
    margin-bottom: 18px;
}

.slider_next_button:hover .rect {
    fill: #18CFAB;
    stroke: #18CFAB;
}

.slider_next_button:hover .path {
    fill: white;
}

.footer {
    width: 100%;
    height: 121px;
    margin-top: 67px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #22353F;
}

.footer_text {
    line-height: 26px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 48px;
    color: #AEAEAE;
}

.footer_span {
    color: #18CFAB;
}