h1 {
    font-family: Montserrat;
    line-height: 18px;
    font-size: 18px;
    padding-left: 330px;
    padding-top: 25.5px;
    color: red;
}

p {
    text-align: center;

}

/* a {
    line-height: 18px;
    font-size: 18px;
    font-style: bold;
    color: red;
} */

    a {
        color: red;
    }

    .aaa
	{
		display: inline-block;
		width: 24%;
        vertical-align: middle;
	}

	.menu
	{
		width: 60%;
		text-align: center;
		margin: auto;
        padding-top: 25.5px;
	}

	a
	{
		color: #FF0000;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

    img {
        margin-top: 25.5px;
        width: 100%;
    }

    .Represent {
        text-align: center;
        margin-top: 49px;
    }
    
    h2 {
        
        text-transform: uppercase;
    }

    .paragraph1 {
        margin-top: 38px;
        line-height: 26px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 67.5px;
        padding-right: 67px;
        color: #373737;
    }

    .paragraph2 {
        line-height: 26px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 67.5px;
        padding-right: 67px;
        margin-top: 28px;
        color: #373737;
    }

    button {
        font-size: 20px;
        border-radius: 10px;
        margin-top: 66px;
        padding: 20px 50px 20px 50px;
        background-color: #FF0000;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .button {
        text-align: center;
    }

    .copyright {
        text-align: right;
        padding-right: 105px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 19.5px;
        font-weight: bold;
    }