body {
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
}

.navigation-bar {
    width: 100%;
    height: 70px;
    background-color: #313131;
}

.navigation-bar-items {
    width: 100%;
    display: flex;
    height: 27px;
    color: white;
    padding-top: 24px;
}

.logo {
    width: 27px;
    height: 27px;
    margin-left: 29px;
}

.architect {
    margin-left: 27px;
    color: white;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation-bar-text {
    line-height: 20.43px;
    font-size: 15px;
    margin: 35px;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    line-height: 20.43px;
    font-size: 15px;
    margin: 35px;
    padding-left: 40px;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home:hover {
    color: #14B9D5;
}

/* .search {
    width: 68px;
    height: 40px;
    padding-top: 27px;
    margin-right: 10px;
    background-color: black;
    border: 1px solid red;
} */

.search_image {
    width: 17px;
    height: 17px;
    margin-left: 185px;
    align-self: center;
}
.header {
    width: 100%;
    height: 369px;
    margin-top: 19px;
    background-image: url(header-background.png);
    box-shadow: 0 0 0 200px rgb(0 0 0 / 33%) inset;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header_text {
    padding-top: 124px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 36.77px;
    font-size: 27px;
    margin: 0 auto;
}

.subscribe {
    line-height: 24.51px;
    font-size: 18px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #89CA62;
    color: white;
    margin-top: 44px;
}

button {
    margin: 20px;
    border: none;
    outline: none;
}

.articles {
    line-height: 24.51px;
    font-size: 18px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #14B9D5;
    color: white;
}

.popular_posts {
    line-height: 36.77px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #18B4CF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 49px;
}

.popular_images {
    width: 100%;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    column-gap: 32px;
    text-align: center;
    justify-content: center;
    line-height: 24.51px;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post1 {
    width: 370px;
    height: 320px;
    background-color: #F2F2F2;
}

.post1_container {
    width: 370px;
    height: 320px;
    background-color: white;
}

.post2 {
    width: 370px;
    height: 441px;
    background-color: #F2F2F2;
}

.post2_container {
    width: 370px;
    height: 441px;
    background-color: white;
}

.post3 {
    width: 370px;
    height: 355px;
    margin-right: 106px;
    background-color: #F2F2F2;
    
}

.post3_container {
    width: 370px;
    height: 355px;
    background-color: white;

}

.post4 {
    width: 370px;
    height: 321px;
    margin-top: 32px;
    background-color: #F2F2F2;
    
}

.post4_container {
    width: 370px;
    height: 321px;
    background-color: white;
}

.post5 {
    height: 309px;
    margin-top: 32px;
    background-color: #F2F2F2;
    
}

.post5_container {
    width: 370px;
    height: 309px;
    background-color: white;
}

.post6 {
    height: 441px;
    margin-top: 32px;
    background-color: #F2F2F2;
}

.post6_container {
    width: 370px;
    height: 441px;
    background-color: white;
}

.our_popular_clients {
    width: 100%;
    height: 588px;
    margin-top: 1474px;
    text-align: center;
    background-image: url(parallax-bg.jpeg);
    background-size: cover;
    background-position: center;
}

.most_popular_clients_text {
    line-height: 43.58px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: inline-block;
    margin-top: 106px;
}

.national_post {
    width: 207px;
    height: 28px;
    align-self: center;
    
}

.border {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin: 0 auto;
    margin-top: 87px;
    
}

.images {
    display: flex;
    margin-top: 117px;
    height: 97px;
    justify-content: center;
}

.logos {
    margin: 35px;
    width: 207px;
    height: 49px;
    align-self: center;
}

.top_rated {
    line-height: 36.77px;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 49px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #18B4CF;
}

.top_rated_images {
    width: 100%;
    height: 190px;
    margin-top: 52px;
    display: inline-block;
}

.rated_images {
    width: 271px;
    height: 190px;
    margin: -35.2px;
    align-self: center;
}

.block_for_rated_images {
    display: flex;
    height: 190px;
}

.hot_news {
    line-height: 36.77px;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #18B4CF;
}

.hot_news_images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 44px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.news_post1 {
    width: 856px;
    display: flex;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news_post1_text_header {
    line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    color: #353A3D;
}

.news_post1_text {
    line-height: 21px;
    font-size: 14px;
    margin-top: 14.5px;
    color: #5B6469;
}

.news_post1_article {
    align-self: center;
    text-align: right;
    margin-right: 24px;
}

.news_post2 {
    text-align: center;
    margin-left: 35px;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 277px;
}

.news_post2_text {
    line-height: 21.5px;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
}

.news_posts1and2 {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
}

.news_post3 {
    width: 554px;
    height: 418px;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news_post3_text_header {
    line-height: 24.51px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    color: #353A3D;
}

.news_post3_text {
    line-height: 21px;
    font-size: 14px;
    margin-top: 15px;
    color: #5B6469;
}

.news_post3_article {
    margin-right: 12px;
}

.news_post4 {
    width: 554px;
    height: 418px;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 60px;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news_post4_text_header {
    line-height: 24.51px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    color: #353A3D;
    margin-right: 27px;
}

.news_post4_text {
    line-height: 21px;
    font-size: 14px;
    margin-top: 15px;
    color: #5B6469;
    margin-right: 14px;
}

.news_posts3and4 {
    display: flex;
    justify-content: center;
}

.news_post5 {
    width: 554px;
    height: 416px;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news_post5_text_header {
    line-height: 24.51px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    color: #353A3D;
    margin-right: 27px;
}

.news_post5_text {
    line-height: 21px;
    font-size: 14px;
    margin-top: 15px;
    color: #5B6469;
    margin-right: 13px;
}

.news_post6 {
    width: 554px;
    height: 416px;
    margin-left: 60px;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news_post6_text_header {
    line-height: 24.51px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    color: #353A3D;
    margin-right: 27px;
}

.news_post6_text {
    line-height: 21px;
    font-size: 14px;
    margin-top: 15px;
    color: #5B6469;
    margin-right: 14px;
}

.news_posts5and6 {
    display: flex;
    justify-content: center;
}

.news_post7 {
    width: 277px;
    height: 258px;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: center;
}

.news_post8 {
    width: 856px;
    display: flex;
    margin-left: 35px;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news_post8_text_header {
    line-height: 24.51px;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
}

.news_post8_text {
    line-height: 21px;
    font-size: 14px;
    margin-top: 14.5px;
    color: #5B6469;
}

.news_post8_article {
    align-self: center;
    text-align: right;
    margin-right: 13px;
}

.news_posts7and8 {
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 80px;
    margin-top: 6px;
    background-color: black;
}

.footer_content {
    width: 100%;
    height: 24px;
    display: flex;
    padding-top: 29px;
    align-self: center;
    justify-content: center;
}

.footer_text {
    line-height: 13px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-self: center;
}

.footer_logo {
    width: 38px;
    height: 24px;
    margin-left: 250px;
}

.footer_image {
    width: 64px;
    height: 16px;
    margin-left: 3px;
}